extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Nick Miller

        p.lead.text-light
          | Full Stack Developer

        .portfolio-bio
          p
            | I'm a Full Stack Developer with a background in technology sales.  
            | I have experience with Object-Oriented Programming and API-Drive Development. I also have experience deploying infrastructure on AWS.
            | I've worked with on-premise Server, Storage, and Network solutions during my time as a technology sales rep.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Javascript
          li Node.js
          li npm
          li Express
          li Pug
          li Git
          li Bash
          li API-driven Development
          li Object-Oriented Programming
          li React

        h6 Contact Info

        ul
          li 669-251-1508
          li miller.nick.c@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/nicholascmiller/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/nickgitshub?tab=repositories', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  